body {
  color: #666666;
  background-color: #f9f8f6;
  background-image: url(images/dark-wood.jpg);
  background-position: center;
  font-family: Georgia, "Times New Roman", Times, serif;
  line-height: 1.4em;
  margin: 0px;
}

.wrapper {
  width: 940px;
  margin: 20px auto 20px auto;
  border: 2px solid #000000;
  background-color: #ffffff;
}

header {
  height: 160px;
  background-image: url("images/header.jpg");
}
h1 {
  text-indent: -9999px;
  width: 940px;
  height: 130px;
  margin: 0px;
}
nav,
footer {
  clear: both;
  color: #ffffff;
  background-color: #aeaca8;
  height: 30px;
}

nav ul {
  margin: 0px;
  padding: 5px 0px 5px 30px;
}

nav li {
  display: inline;
  margin-right: 40px;
}

nav li a {
  color: #ffffff;
}

nav li a:hover,
nav li a.current {
  color: #de6581;
}

a {
  color: #de6581;
  text-decoration: none;
}

.catering {
  text-align: center;
}
.catering h2 {
  color: #de6581;
}

.location {
  color: #de6581;
}

.photo {
  display: flex;
  justify-content: center;
}

.photo img {
  width: 45%;
  margin: 10px 10px;
}

.list {
  text-align: center;
}

.list li {
  text-align: center;
  list-style: disc;
  list-style-position: inside;
}
